include README.md
include LICENSE
include requirements.txt
include .env.example
recursive-include ibtcode *.py
recursive-exclude tests *.pyc
recursive-exclude __pycache__ *
global-exclude *.pyc
global-exclude __pycache__